{# Sessions #}
{% if app.session.get("_locale") == null %} {{ app.session.set("_locale", settings.default.locale) }} {% endif %}

{% set _locale = "uk" %}

{# templates "./base.html.twig" #}
<!DOCTYPE html>
<html lang="{{ _locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet/less" type="text/css" href="{{ asset("/styles/app.less") }}">

        <script src="{{ asset("/js/libs/jquery-3.7.1.min.js") }}"></script>
        <script src="{{ asset("/js/libs/less.js") }}"></script>

        <script src="{{ asset("/js/scripts/init.js") }}"></script>

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block container %}{% endblock %}
    </body>
</html>