{# templates "./pages/main/index.html.twig" #}

{% extends "./base.html.twig" %}

{% block title %}
    {% trans %}Les Miscéllannées d'Allistair B.{% endtrans %}
{% endblock %}

{% block container %}

    <div id="container">

        {% include "./modules/header.module.html.twig" %}

        <main>

            <div class="banner striped"></div>

            <div class="about">
                <div class="about-avatar striped">
                    {% if about_avatar != "" %}
                        <img src="{{ about_avatar }}" alt="{{ about_pseudo }}" />
                    {% endif %}
                </div>
                <div class="about-text"> {{ about_small_description }} </div>
                <a href="{{ path('main.about') }}" class="about-button">
                    {% trans %}En savoir plus{% endtrans %}
                </a>
            </div>

            <div class="last-articles">
                <div class="title">
                    {% trans %}Derniers articles{% endtrans %}
                </div>
                <div class="articles-list">

                    {% for article in latestArticles %}
                    
                        <a href="#" class="article">
                            <div class="article-cover striped">
                                {% if article.cover != "" %}
                                    <img src="{{ article.cover }}" alt="{{ article.slug }}">
                                {% endif %}
                            </div>
                            <div class="article-content">
                                <div class="article-title">{{ article.title }}</div>
                                <div class="article-keywords">
                                    {% for keyword in article.keywords %}
                                        <span class="keyword">keyword</span>

                                    {% endfor %}
                                </div>
                                <div class="article-date">
                                    {% if article.date.updated != "" %}
                                        {% trans %}Mis à jour le{% endtrans %}
                                        {{ article.date.updated|format_datetime('medium', 'short', locale: _DateTimelocale) }}
                                    {% else %}
                                        {% trans %}Ajouté le{% endtrans %}
                                        {{ article.date.added|format_datetime('medium', 'short', locale: _DateTimelocale) }}
                                    {% endif %}
                                </div>
                                <div class="article-description">{{ article.smallDescription }}</div>
                                <div class="article-button">
                                    {% trans %}Lire{% endtrans %}
                                </div>
                            </div>
                        </a>

                    {% endfor %}

                </div>
                <a href="#" class="view-all">
                    {% trans %}Tous voir{% endtrans %}
                </a>
            </div>

        </main>

        {% include "./modules/footer.module.html.twig" %}

    </div>

{% endblock %}